<p>todos works!</p>
<h1>{{message}} 8880</h1>
<input type="text" [(ngModel)]="todo" [value]="todo" class="form-control">
<input [type]="inputTypeButton" (click)="showAlert()" [value]="inputTypeButton">

<!-- Angular template to display todo items -->
<div *ngIf="data && data.length">
    <h1>{{ message }} 8880</h1>
    
    <input type="text" [(ngModel)]="todo" [value]="todo" class="form-control">
    
    <input type="button" (click)="showAlert()" value="Submit">
  
    <ul>
      <li *ngFor="let item of data">
        {{ item.id }} - {{ item.title }}
      </li>
    </ul>
  </div>
  F