<!-- <div *ngIf="isVisibleHeaderAndFooter; else noContent">
  <p>This content will only be displayed if the 'isVisibleHeaderAndFooter' condition is true.</p>
</div> -->

<!-- <ng-template #noContent>
  <p>This content will be displayed if 'isVisibleHeaderAndFooter' is false.</p>
</ng-template> -->

<!-- <router-outlet /> -->
<div class="container">
  <div class="row">
    <div class="col-1 text-muted">
      <h1 class="text-muted">Home page</h1>
    </div>
  </div>
</div>
<app-todos></app-todos>
